/*
* Lists
*/

dl,
ol,
ul {
  margin-top: 0;
  padding-left: 0;
	dl,
	ol,
	ul {
    margin: 0 0 0 1.5rem;
  }
}

ol {
  list-style: decimal inside;

}

ul {
  list-style: square inside;
}

dd {
  -webkit-margin-start: 40px;
}

dt {
  font-weight: bold;
}